<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>123</title>
  <script
    src="https://unpkg.com/squirrelly@latest/dist/squirrelly.min.js"></script>
</head>
<body>
<script>
  var months = [
    'янв.',
    'февр.',
    'мар.',
    'апр.',
    'мая.',
    'июня.',
    'июля.',
    'авг.',
    'сент.',
    'окт.',
    'нояб.',
    'дек.',
  ];
  var dayMs = 1000 * 3600 * 24;

  function getApi(dir) {
    return new Promise((resolve) => {
      fetch(`http://localhost:8888/api?dir=${dir}`)
        .then(response => {
            var days = [];
            response.json().then(data => {
              for (var day in data)
                days.push({
                  price: data[day],
                  /// too much work without moment
                  day: new Date(new Date(day).setHours(0, 0, 0, 0))
                });

              days.sort((a, b) => a.day - b.day);
              resolve(days);
            });
          }
        );
    });
  }

  const addDay = (date) => new Date(
    new Date(date.getTime() + dayMs).setHours(0, 0, 0, 0)
  );

  function prepareWeek(days) {
    var firstDay = days[0].day;
    var weekDay = firstDay.getDay();
    var weekCount = Math.ceil((days.length - (7 - weekDay)) / 7) + 1;

    var weeks = [];

    var weekStart = new Date(
      new Date(firstDay - dayMs * (weekDay - 1)).setHours(0, 0, 0, 0)
    );

    for (var i = 0; i < weekCount; i++) {
      var weekDays = [];
      for (var j = 0; j < 7; j++) {
        var fareDay = days.find(d => d.day - 0 == weekStart - 0);
        weekDays.push({
          day: weekStart.getDate(),
          price: fareDay ? (fareDay.price ? fareDay.price + ' тг' : 'Н.Д.' ) : null,
          active: fareDay ? 'active' : '',
          month: months[weekStart.getMonth()],
          today: firstDay - 0 == weekStart - 0 ? 'today' : ''
        })
        weekStart = addDay(weekStart);
      }
      weeks.push({days: weekDays});
    }
    return weeks;
  }
</script>
<script>
  window.onload = () => {
    /// squirrelly js template engine
    var row = `
      {{each(options.weeks)}}
      <div class="row">
      {{each(@this.days)}}
      <div class="cell {{@this.active}} {{@this.today}}">
      <div class="day">
      <span>{{@this.day}}</span>
      <span>{{@this.month}}</span>
      </div>
      <div class="price">{{@this.price}}</div>
      </div>
      {{/each}}
      </div>
      {{/each}}
      `;

    document.querySelector('#dir').onchange = function (e) {
      getApi(e.target.value).then(prepareWeek).then(weeks => {
        document
          .querySelector('#calendar')
          .innerHTML = Sqrl.Render(row, {weeks});
      });
    }


  }
</script>
<div id="app">
  <select id="dir">
    <option selected disabled>Выберите направление</option>
    <option>ALA-TSE</option>
    <option>TSE-ALA</option>
    <option>ALA-MOW</option>
    <option>MOW-ALA</option>
    <option>ALA-CIT</option>
    <option>CIT-ALA</option>
    <option>TSE-MOW</option>
    <option>MOW-TSE</option>
    <option>TSE-LED</option>
    <option>LED-TSE</option>
  </select>
  <div id="calendar"></div>
</div>
<style>
  body {
    font-family: "Arial";
  }

  #app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  select {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  #calendar {
    background: #f0f0f0;
    width: 80vw;
  }

  .row {
    display: flex;
    border: 1px solid #ccc;
  }

  .row:not(:first-child) {
    border-top: none;
  }

  .cell {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(80vh / 5);
    border-right: 1px solid #ccc;
  }

  .cell:last-child {
    border-right: none;
  }

  .cell .price {
    display: none;
  }

  .cell .day {
    color: #aaa;
  }

  .cell.active .day {
    color: black;
  }

  .cell.active .price {
    display: block;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cell.today {
    background: #ff6666;
  }

  .cell.today * {
    color: white;
  }

  .day > span:first-child {
    font-size: 2em;
  }
</style>
</body>
</html>
